@import '~vuetify/src/styles/styles.sass';

.markdown-title {
  color: #{map-get($grey, 'darken-3')} !important;
}

.markdown-body {
  // Base
  p,
  blockquote,
  table,
  ol,
  ul,
  dl,
  table {
    text-align: justify;
    color: #{map-get($grey, 'darken-3')};
    margin: 0.8rem 0;
    word-wrap: break-word;
  }

  // Images
  img {
    max-width: 100%;
    vertical-align: middle;
    image-orientation: from-image;
  }

  // Headers
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #{map-get($grey, 'darken-3')};
    page-break-after: avoid;
    break-after: avoid-page;
    page-break-inside: avoid;
    margin: 1rem 0;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.6rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1rem;
  }

  // Paragraph
  p {
    line-height: 30px;

    @media #{map-get($display-breakpoints, 'sm-and-down')} {
      line-height: 28px;
    }
  }

  // Link
  a {
    color: #{map-get($green, 'darken-3')} !important;
    cursor: pointer;
  }

  // Table
  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    overflow: auto;
    page-break-inside: auto;
    text-align: left;
  }
  table th {
    font-weight: bold;
  }
  table th,
  table td {
    border: 1px solid #ccc;
    padding: 6px 13px;
  }
  table tr {
    border-top: 1px solid #ccc;
    background-color: #fff;
  }
  table tr:nth-child(2n) {
    background-color: #f8f8f8;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto;
  }
  thead {
    display: table-header-group;
  }
  td {
    min-width: 32px;
  }
  table tr th {
    border-bottom: 0;
  }

  // Blockquote
  blockquote {
    padding-left: 1rem;
    box-shadow: #{map-get($green, 'darken-3')} 2px 0px 0px 0px inset;
    color: grey;
  }
  blockquote > :last-child {
    margin-bottom: 0;
  }
  blockquote > :first-child {
    margin-top: 0;
  }

  // List
  li div {
    padding-top: 0;
  }
  li p {
    margin: 0.5rem 0;
  }
  li {
    margin: 0;
    position: relative;
  }
  li > :first-child {
    margin-top: 0;
  }

  // Code
  pre {
    margin: 0.8rem 0;
  }
  code {
    font-family: $code-font-family;
    text-align: left;
    vertical-align: initial;
  }
  p code {
    padding: 0.2em 0.4em;
    color: #{map-get($green, 'darken-3')} !important;
  }
  pre code {
    display: block;
    overflow-x: auto;
    padding: 0.6em !important;
  }
  kbd {
    margin: 0 0.1em;
    padding: 0.1em 0.6em;
    font-size: 0.8em;
    color: #242729;
    background: #fff;
    border: 1px solid #adb3b9;
    border-radius: 3px;
    box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
    white-space: nowrap;
    vertical-align: middle;
  }

  // Horiztal
  hr {
    margin: 2rem 0;
  }
}
